<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.air.edward.airticket" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBarTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".Activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Activity.SelectedAirActivity">
        </activity>
        <activity
            android:name=".Activity.SeekListActivity">
        </activity>
        <activity
            android:name=".Activity.SeekWeatherActivity">
        </activity>
        <activity
            android:name=".Activity.ShowWeatherActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
